<!-- labmast -->
<!-- labmast.css -->

html {
}

body {
	margin:auto;
	background-image:url("/img/background-gradient.png");
	background-repeat:repeat-x;
	background-color:#406296;
	width:970px;
	color:#222222;
	font-family:Tahoma, Geneva, sans-serif;
}

#logo {
	position:relative;
	left:80px;
	top:40px;
	width:100px;
}

#logo a img {
	border:0;
}

#header-login {
	float:right;
	position:relative;
	right:70px;
	color:#777777;
}

#header-login a {
	color:white;
	text-decoration:none;
	font-size:15px;
	font-family: 'Arial Black', Gadget, sans-serif;
}


/* Easy Slider */

	#slider {}
	

	#slider ul, #slider li,
	#slider2 ul, #slider2 li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider2{margin-top:1em;}
	#slider li, #slider2 li{ 
		 
		width:850px;
		height:300px;
		padding-top: 15px;
		
		}	
	.nextButton, .prevButton { 
		display:block;
		width:53px;
		height:53px;
		position:absolute;
		left:10px;
		top:130px;
		text-indent: -99999px;
		z-index:1000;
		visibility:hidden;
		}	
	.nextButton { 
		left: 787px;
		}														
	.prevButton a, .nextButton a {  
		display:block;
		position:relative;
		width:53px;
		height:53px;
		background:url(/img/arrows.png) no-repeat 0 0;	
		}	
	.nextButton a { 
		background:url(/img/arrows.png) no-repeat -53px 0;	
		}	
		
	/* numeric controls */	

	ul#controls{
		padding:0;
		height:15px;	
		position: absolute;
		left: 385px;
		z-index: 100;
		}
	ul#controls li.numeric{
		margin:auto; 
		padding:0;
		float:left;
		list-style:none;
		height:22px;
		width: 22px;
		}
	ul#controls li.numeric a{
		height:22px;
		width: 22px;
		color:#555;
		background-image: url(/img/bullets.png);
		background-position: 0 0px;
		background-repeat: no-repeat;
		text-decoration:none;
		text-indent: -9999px;
		display: block;
		}
	ul#controls li.numeric.current a{
		color:#fff;
		height:22px;
		width: 22px;
		background-image: url(/img/bullets.png);
		background-position: 0 -22px;
		background-repeat: no-repeat;
		display: block;
		}
		
	ul#controls li.numeric a:hover{
		background-image: url(/img/bullets.png);
		background-position: 0 -22px;
		background-repeat: no-repeat;
		b
		}
		
	ul#controls li.numeric a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}

	section {margin: 0 auto; position: relative; width: 850px; height: 350px;}

	#code {margin-top: 60px;}

#container {
	width:910px;
	margin:auto;
	margin-left:30px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color:#d7d7d7;
	margin-top:80px;
	margin-bottom:30px;
	min-height:200px;
}

#bodytext {
	width:880px;
	margin:auto;
	display:block;
}

#easyslider_container {
	margin:auto;
	display:block;
}

#homepage-text {
	display:block;
	margin:auto;
	width:80%;
}

#footer {
	position:relative;
	left:30px;
	font-family:Arial, sans-serif;
	clear:both;
	width:80%;
	margin:auto;
	color:#ffffff;
	font-size:11px;
}

#footer p {
	float:left;
	display:block;
	margin-right:20px;
}

#footer p a {
	margin-left:5px;
	color:#ffffff;
	text-decoration:none;
}

#footer2 {
	clear:both;
	width:99%;
	text-align:center;
	color:#ffffff;
	font-size:11px;
	font-family:Arial, sans-serif;
}

#footer2 a {
	color:#ffffff;
	text-decoration:none;
}
	
